@import "tailwindcss";

body {
  margin: 0;
  background-color: #0a1524;
  color: #DFD0B8;
}

::selection {
  background-color: #C1440E;
  color: #DFD0B8;
}

input {
  height: 32px;
  font-size: 13px;
}